:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  background-color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: regular;
  line-height: 1, 5;
  font-style: normal;
  color: rgba(17, 2, 2, 0.934);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-section {
  height: 72px;
  display: flex;
  align-items: center;
}

.site-head {
  display: flex;
}

.logo {
  font-style: var(--second-family);
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  width: 115px;
  height: 24px;
  margin-top: 24px;
  margin-left: 156px;
  margin-bottom: 24px;
}

.studio-head {
  color: var(--navy-blue);
  font-size: 18px;
  font-weight: 700px;
  line-height: 21px;
  font-weight: 700px;
  font-family: var(--Raleway);
  text-decoration: none;
}


.menu {
  
  display: flex;
  gap: 30px;
  justify-content: space-between;
   margin-top: 24px;
   margin-left: 76px;
   margin-bottom: 24px;
}
.menu> li> a{
  font-family: var(--second-family);
  color: var(--navy-blue);
  font-weight: 500px;
  line-height: 24px;
  font-weight: bold;
}

.menu :hover {
  font-family: var(--second-family);
  color: var(--ocean);
  font-weight: bold;
}

.address{
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-left: 332px;
  margin-bottom: 24px;
  
}
.address> a{
font-family: var(--font-family);
font-style: normal;
color: var(--slate);
font-weight: 400px;
line-height: 24px;
}

.address :hover {
  font-family: var(--font-family);
  color: var(--ocean);
  font-weight: 400px;
  line-height: 24px;
}

.effective {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 2%;
  color: var(--white);
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
}

.effective-solutions {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--backgr-color);
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.effective-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
  color: var(--white);
  padding: 16px 32px;
  min-width: 169px;
  background: var(--iris);
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 48px auto;
  cursor: pointer;
}

.effective-button:hover,
.effective-button:active {
  background-color: var(--ocean);
}

.container {
  width: 1440px;
  background-size: 100%;
  margin: 0 auto;
}

.explain {
  padding: 44px 156px;
  padding: auto;
  gap: 24px;
  display: flex;
}

.explain > li {
  width: 264px;
  height: 104;
  align-items: flex-start;
  text-align: left;
  color: var(--slate);
}

.explain > li > h3 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-left: 0;
  color: var(--navy-blue);
}

.explain > li > .explain-text {
  color: var(--slate);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-top: 8px;
}

.team-section {
  display: flex;
  align-content: center;

  height: 732px;
  background-color: var(--cloud);
}

.team {
  padding: 120px 639px 72px;
}

.team-images {
  margin-left: 156px;
  text-align: center;
  gap: 24px;
  display: flex;
}

.team-images > li {
  font-weight: 264px;
  height: 380px;
  background-color: var(--white);
}

.team-images > li > h3 {
  font-family:var(--font-family);
  font-size: 20px;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--navy-blue);
}

.team-images > li > p {
  color: var(--slate);
}

.ourteam {
  height: 732px;
}

.portfolio-menu {
  align-items: center;
}

.our-portfolio {
  padding-top: 120px;
  padding-left: 611px;
  padding-bottom: 72px;
}

.portfolio {
  margin-left: 156px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  text-align: left;
  padding-top: 0;
}

.portfolio > li {
  background-color: var(--white);
}

.portfolio > li > img {
  width: 360px;
}

.portfolio > li .portfolio-detail> h3 {
  font-style:var(--font-family);
    font-size: 20px;
  font-weight: 500px;
  line-height: 24px;
  letter-spacing: 2%;
  margin-top: 32px;
  color: var(--navy-blue);
}

.portfolio > li .portfolio-detail> p {
  font-family: var(--font-family);
  color: var(--slate);
  font-size: 16px;
  font-weight: 400px;
  margin-top: 8px;
}

.foot-section {
  height: 312px;
  background-color: var(--navy-blue);
  background-size: 100%;
}

.foot-logo {
  padding-top: 100px;
  padding-left: 156px;
}

.web {
  margin-top: 100px;
  font-family: var(--second-family);
  font-weight: bold;
  size: 18px;
  letter-spacing: 3%;
  line-height: 21px;
  color: var(--iris);
}

.studio-foot {
  font-family: var(--second-family);
  size: 18px;
  line-height: 21px;
  color: var(--cloud);
  font-weight: bold;
}

.foot-section > a {
  margin-top: 300px;

  font-family: var(--Raleway);
  text-decoration: none;
  color: white;
}

.foot-text {
  font-family: var(--font-family);
  color: var(--cloud);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  margin-left: 156px;
  padding-top: 16px;
  width: auto;
  height: 72px;
}
