:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  background-color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  font-weight: regular;
  line-height: 1, 5;
  font-style: normal;
  color: rgba(17, 2, 2, 0.934);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: auto;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  width: 125px;
  height: 24;
  padding-left: 156px;
}

.studio-head {
  color: var(--navy-blue);
  font-size: 18px;
  font-weight: 700px;
  line-height: 21px;
  font-weight: 700px;
  font-family: var(--Raleway);
  text-decoration: none;
}

.logo>a {
  margin-top: auto;
  margin-bottom: auto;
}

.header {
  height: 72px;
  display: flex;
  align-items: center;
}

.contact-info {
  display: flex;
}

.menu {
  margin-top: 24px;
  display: flex;
  gap: 40px;
}

.menu>li {
  font-family: var(--second-family);
  color: var(--navy-blue);
  font-weight: bold;

}

.menu> li> a{
  color: var(--navy-blue);
} 

.menu>li >a:hover{
 color: var(--ocean); 
}
.address {
  padding: 24px 124px 24px 330px;
  display: flex;
  gap: 40px;
}

.address>a {
  height: 24px;

  color: var(--slate);
}

.credential {
  margin-left: 186px;
  display: flex;
  justify-content: space-between;
}

.effective {

  height: 600px;
  background-color: var(--navy-blue);

  color: white;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 700px;


}

.effective-solutions {
  margin-top: 188px;
  font-family: "Roboto";
  font-size: 56px;
  text-align: center;
}

.effective-button {
  width: 170px;
  height: 51px;
  color: white;
  font-family: "Roboto";
  font-size: 16px;
  text-align: center;
  background-color: var(--iris);
  border-radius: 4px;
  border: 0;
}

.effective-button:hover,
.effective-button:active {
  background-color: var(--ocean);
}

.container {
  width: 1440px;
  background-size: 100%;
  margin: auto 0;
}

.explain {
  padding: 44px 156px;
  padding: auto;
  gap: 24px;
  display: flex;
}

.explain>li>h4 {
  margin-left: 0;
  color: var(--navy-blue);
}

.explain>li {
  width: 264px;
  height: 104;
  align-items: flex-start;
  text-align: left;
  color: var(--slate);
}

.team-section {
  display: block;
  align-content: center;
  width: 1440px;
  height: 732px;
  background-color: var(--cloud);
}

.team {
  padding: 120px 639px 72px;
}

.team-images {
  margin-left: 156px;
  text-align: center;
  gap: 24px;
  display: flex;
}

.team-images>li {
  font-weight: 264px;
  height: 380px;
  background-color: var(--white);
}

.team-images>li>h5 {
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--navy-blue);
}

.team-images>p {
  color: var(--slate);
}

.ourteam {
  height: 732px;
}

.portfolio-menu {
  align-items: center;
}

.our-portfolio {
  padding-top: 120px;
  padding-left: 611px;
  padding-bottom: 72px;
}

.portfolio {
  margin-left: 156px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  gap: 24px;

  text-align: left;
  padding-top: 0;
}

.portfolio>li {
  background-color: var(--white);
}

.portfolio>li>img {
  width: 360px;
}

h2 {
  font-size: 16;
  font-style: "Roboto";
}

h4 {
  margin: 32px 0 8px;
  font-family: var(--second-family);
}

.submit {
  color: white;
  background-color: var(--iris);
}

.s:hover {
  cursor: pointer;
  background-color: var(--ocean);
}

.foot-section {
  margin-top: 152px;
  width: 1440px;
  height: 312px;
  display: block;
  background-color: var(--navy-blue);
  background-size: 100%;
  font-size: 16px;
  color: white;
}

.foot-logo {
  padding-top: 100px;
  padding-left: 156px;
}

.foot-text {
  margin-left: 156px;
  padding-top: 16px;
  width: auto;
  height: 72px;
}

.web {
  margin-top: 100px;
  font-family: var(--second-family);
  font-weight: 700px;
  size: 18px;
  letter-spacing: 3%;
  line-height: 21px;
  color: var(--iris);
}

.studio-foot {
  font-family: var(--second-family);
  size: 18px;
  line-height: 21px;
  color: var(--cloud);
  font-weight: 700px;
}

.foot-section>a {
  margin-top: 300px;

  font-family: var(--Raleway);
  text-decoration: none;
  color: white;
}